<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>注册</title>
	</head>
	<style type="text/css">
		dl{
			text-align:center;
			border:2px solid #008800;
			margin:10px 400px;
		}
	</style>
	<body>
		<div id="regist_form">
			<dl>
				<form action="/public/index.php/index/regit/regit" method="post">
					<dt>
						<h1>注册页面</h1>
						<p>用户名：<input type="text" name="UserName"></p>
					</dt>
					<dt>
						<p>密码：<input type="password" name="UserPasswd"></p>
					</dt>
					<dt>
						<p>性别：男<input type="radio" name="UserSex" value="0">女<input type="radio" name="UserSex" value="1"></p>
					</dt>
					<dt>
						<p>手机 ：<input type="text" name="UserTel"></p>
					</dt>
						<p>邮箱：<input type="e-mail" name="UserEmail"></p>
					<dt>
					</dt>
					<dt>
						<p>地址：<input type="text" name="UserAddress"></p>
					</dt>
					<dt>
						<p><input type="submit" name="tj" value="提交"></p>
					</dt>
				</form>
			</dl>
		</div>
	</body>
</html>