<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="__JS__/layui/css/layui.css">
    <style>
        body {
            padding: 20px;
        }
    </style>
</head>
<body>
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">称呼</label>
            <div class="layui-input-block">
                <input name="name" type="text" class="layui-input" lay-verify="required" placeholder="称呼" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Message</label>
            <div class="layui-input-block">
                <textarea name="content" class="layui-textarea" lay-verify="required" placeholder="说点是神马吧" autocomplete="off"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系方式</label>
            <div class="layui-input-block">
                <input type="text" name="email" lay-verify="required|email" placeholder="邮箱" class="layui-input" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button lay-filter="mess" lay-submit class="layui-btn layui-btn-normal"><i class="layui-icon layui-icon-release" style="font-size: 30px"></i></button>
            </div>
        </div>
    </form>
    <script src="__JS__/layui/layui.js"></script>
    <script src="__JS__/jquery-3.3.1.min.js"></script>
    <script>
        layui.use('form',function () {
            let form = layui.form;
            form.on('submit(mess)',function (data) {
                layer.msg('请稍后',{icon: 16, shade: 0.1, time: false});
                $.ajax({
                    url: '{$target|default=request()->url()}',
                    type: 'post',
                    //data: 'name='+data.field.name+"&content="+data.field.content+"&email="+data.field.email,
                    data: data.field,
                    success: function (result,status) {
                        if (result && status == 'success') {
                            layer.msg("成功",{icon: 1,time: 1000});
                            let index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            setTimeout(function(){
                                layer.closeAll();
                                parent.layer.close(index); //再执行关闭
                            },1000);
                        }
                        else{
                            layer.msg("失败",{icon: 2});
                            setTimeout(function(){layer.closeAll();},1000);
                        }
                    },
                    error: function () {
                        layer.msg("失败",{icon: 2});
                    }
                });
                return false;
            });
        })
    </script>
</body>
</html>